<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT contactFormer ANY>
<!ATTLIST contactFormer id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT searchResults ANY>
<!ATTLIST searchResults id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <home id="1053" key="4355ed9e-a40f-4081-bc78-511f4d9da6b8" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-12T11:19:16" updateDate="2016-08-12T12:50:56" nodeName="Home" urlName="home" path="-1,1053" isDoc="" nodeType="1052" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1051" nodeTypeAlias="home">
    <siteTitle><![CDATA[Home]]></siteTitle>
    <siteDescription><![CDATA[Home]]></siteDescription>
    <siteLogo><![CDATA[/media/1001/logo.jpg]]></siteLogo>
    <bodyText><![CDATA[<p>Hej med jer</p>]]></bodyText>
    <image><![CDATA[/media/1002/10818851674_e375a8751e_b.jpg]]></image>
    <bodyGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Hej med dig",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "afsafsafsaf",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "b034bb72-ec5f-4212-43e4-df7d2450fda6"
        }
      ]
    }
  ]
}]]></bodyGrid>
    <landingPage id="1058" key="9eb52093-a06f-413f-b70e-f8a03f6987db" parentID="1053" level="2" creatorID="0" sortOrder="0" createDate="2016-08-12T11:32:30" updateDate="2016-08-12T11:32:30" nodeName="About us" urlName="about-us" path="-1,1053,1058" isDoc="" nodeType="1055" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1054" nodeTypeAlias="landingPage">
      <textPage id="1059" key="adf9e2a0-d2ce-43ff-924e-472c72b2da53" parentID="1058" level="3" creatorID="0" sortOrder="0" createDate="2016-08-12T11:32:51" updateDate="2016-08-12T11:44:35" nodeName="Our story" urlName="our-story" path="-1,1053,1058,1059" isDoc="" nodeType="1057" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1056" nodeTypeAlias="textPage">
        <bodyText><![CDATA[Hej]]></bodyText>
      </textPage>
    </landingPage>
    <searchResults id="1062" key="26193441-a1da-4091-8724-6303439e0433" parentID="1053" level="2" creatorID="0" sortOrder="1" createDate="2016-08-12T11:46:06" updateDate="2016-08-12T12:16:37" nodeName="Search Results" urlName="search-results" path="-1,1053,1062" isDoc="" nodeType="1061" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1060" nodeTypeAlias="searchResults">
      <bodyText><![CDATA[<p>This is what was found: </p>
<?UMBRACO_MACRO macroAlias="SearchResults" />]]></bodyText>
      <umbracoNaviHide>1</umbracoNaviHide>
    </searchResults>
    <landingPage id="1064" key="2d68519d-5daf-4f84-ae1a-9800c690164a" parentID="1053" level="2" creatorID="0" sortOrder="2" createDate="2016-08-12T12:14:57" updateDate="2016-08-12T12:14:57" nodeName="References" urlName="references" path="-1,1053,1064" isDoc="" nodeType="1055" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1054" nodeTypeAlias="landingPage">
      <textPage id="1065" key="87494611-f025-40c1-a309-104ae7661ac1" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2016-08-12T12:15:11" updateDate="2016-08-12T13:17:54" nodeName="Reference 1" urlName="reference-1" path="-1,1053,1064,1065" isDoc="" nodeType="1057" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1056" nodeTypeAlias="textPage">
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "See our References",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "hasConfig": false,
          "id": "9f68c7f5-8594-ac6e-4363-57da8872855a",
          "active": false
        },
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Basic stuff",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ],
              "active": false
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1071,
                    "image": "/media/1006/14435732345_c9f5b48dfa_h_dark.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": true
                }
              ],
              "active": true,
              "hasActiveChild": true
            }
          ],
          "hasConfig": false,
          "id": "a5e22487-5003-2efa-ee01-f7726b0f6256",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></bodyText>
      </textPage>
    </landingPage>
    <landingPage id="1066" key="40c3b80a-b536-459b-a484-d140c9f53e3f" parentID="1053" level="2" creatorID="0" sortOrder="3" createDate="2016-08-12T12:15:24" updateDate="2016-08-12T12:15:24" nodeName="Services" urlName="services" path="-1,1053,1066" isDoc="" nodeType="1055" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1054" nodeTypeAlias="landingPage">
      <textPage id="1067" key="87317e4b-e650-4ff0-b06b-c635f35900f4" parentID="1066" level="3" creatorID="0" sortOrder="0" createDate="2016-08-12T12:15:49" updateDate="2016-08-12T12:16:42" nodeName="Assistance" urlName="assistance" path="-1,1053,1066,1067" isDoc="" nodeType="1057" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1056" nodeTypeAlias="textPage">
        <bodyText><![CDATA[Assistance]]></bodyText>
      </textPage>
    </landingPage>
    <contactPage id="1077" key="a57c60e2-ae0b-44e8-bcb2-3296d18e0fa3" parentID="1053" level="2" creatorID="0" sortOrder="4" createDate="2016-08-12T13:50:51" updateDate="2016-08-12T13:50:51" nodeName="Contact Us" urlName="contact-us" path="-1,1053,1077" isDoc="" nodeType="1073" creatorName="Ali Yigit" writerName="Ali Yigit" writerID="0" template="1072" nodeTypeAlias="contactPage" />
  </home>
</root>